<style type='text/css'>
/*----Responsive Design----*/
@media screen and (max-width: 1130px) {
    #outer-wrapper {margin: 0 auto;}
.row{max-width:96%}
#main-nav{width:96%;max-width:96%}
#main-nav .row{max-width:100%}
}
@media screen and (max-width: 980px) {
#header-blog,.header-content{height:auto}
.header-logo{max-width:270px;margin:10px auto 20px;float:none;display:block}
.header-logo img{margin:0 auto}
.header-ads{max-width:100%;float:none;height:auto;margin:0 auto;display:none}
.header-ads .widget{line-height:0}
#main-wrapper{float:none;overflow:hidden;width:100%}
.recent-boxes .box-sec{margin-right:0}
.posts-title{margin-right:0}
#main-wrapper #main{margin-right:0}
#sidebar-wrapper{width:100%;margin:10px auto;float:none;padding-left:0}
#footer{padding:20px 0}
.sect-left{width:100%;margin-right:0}
.sect-left .widget{padding:10px}
}
@media screen and (max-width: 880px) {
#nav1,#menu-main-nav{display:none}
.selectnav{display:block;color:#eee}
.tm-menu{float:left;width:20%}
.tm-menu .selectnav{padding:0 5px;height:22px!important;font-size:12px;line-height:22px;margin-top:5px;border-radius:2px!important;-moz-border-radius:2px!important;-webkit-border-radius:2px!important}
.header-menu #menu .selectnav{padding:0 10px!important;font-size:14px;height:26px;line-height:26px;margin-left:10px;float:left;border-radius:2px!important;margin-top:7px}
.featured .feat-align{width:50%;padding-left:2.5px;padding-right:2.5px}
.feat-column1,.feat-column3{padding-left:0}
.feat-column2,.feat-column4,.feat-column5{padding-right:0}
.home-ad .widget{padding-right:0}
}
@media screen and (max-width: 700px) {
#ticker{display:none}
.fbox .bx-first .box-thumbnail,.fbox .bf-thumb{height:250px}
.fbox .bx-first{width:100%;margin-bottom:0;padding-right:0;border-right:0}
.fbox ul li{width:100%;float:left;margin-top:10px;margin-bottom:0;padding-top:10px;padding-bottom:0;border-top:1px dotted #F5F5F5;border-bottom:0}
.recent-boxes .column{width:100%}
.block-image{width:100%;height:250px;margin-right:0}
.block-image .thumb,.block-image .thumb a{height:250px}
.main-carousel,.carousel-item,.carousel-item .box-image{height:250px}
.index .post article,.archive .post article{overflow:hidden;position:relative;float:left;margin-top:10px}
.feat-column3,.feat-column4{margin-top:5px}
.owl-carousel .owl-item,.carousel-item{width:100%}
.videos ul li{width:100%;margin:0 0 15px}
.videos .box-image{height:250px}
.footer-wrapper{height:auto}
.footer-wrapper .copyright{text-align:center;float:none;height:auto;padding:0 0 10px}
.native-opt{float:none;display:block;text-align:center;overflow:hidden}
.native-opt li{float:none;display:inline-block}
.native-opt li a{margin:0}
}
@media screen and (max-width: 600px) {
.featured .feat-align{width:100%;margin-top:5px;padding-left:0;padding-right:0}
.feat-column1{margin-top:0!important}
.featured .feat-column1 .item1,.featured .feat-column2 .item2,.featured .feat-column3 .item3,.featured .feat-column1 .item1 .rcp-thumb,.featured .feat-column2 .item2 .rcp-thumb,.featured .feat-column3 .item3 .rcp-thumb{height:250px}
.item .post-title,.static_page .post-title{font-size:24px}
.related-posts .related-item{width:100%;height:180px;margin-top:5px;padding:0}
.related-posts li:first-child{margin-top:0!important}
}
@media screen and (max-width: 440px) {
#nav-search{width:100%}
.featured .feat-column1 .item1,.featured .feat-column2 .item2,.featured .feat-column3 .item3,.featured .feat-column1 .item1 .rcp-thumb,.featured .feat-column2 .item2 .rcp-thumb,.featured .feat-column3 .item3 .rcp-thumb,.featured .rcp-thumb,.featured .hot-item{height:200px}
.main-carousel,.carousel-item,.carousel-item .box-image,.fbox .bx-first .box-thumbnail,.fbox .bf-thumb,.block-image,.block-image .thumb,.block-image .thumb a,.videos .box-image{height:200px}
.index .post h2,.archive .post h2{line-height:1.4em}
.post h2 a,.post h2 a:visited,.post h2 strong{font-size:20px;line-height:1.4em}
.item .post-title,.static_page .post-title{font-size:20px}
.fbox .bx-first .bf-content .recent-title a{font-size:16px}
}
@media screen and (max-width: 340px) {
.header-menu #menu .selectnav{max-width:60%}
.error-item{font-size:140px}
}
@media screen and (max-width: 310px) {
.tm-head #social-top ul li{margin-left:0}
.header-logo{margin:15px auto 10px}
.header-menu #menu .selectnav{max-width:50%}
.header-ads,li.li-home,#sidebar-wrapper,.sect-left{display:none}
.videos .recent-title a{font-size:16px}
.post h2 a,.post h2 a:visited,.post h2 strong{font-size:18px}
.index .post h2,.archive .post h2{line-height:1.2em}
.item .post-title,.static_page .post-title{font-size:16px}
.error-item{font-size:100px}
}
</style>
